/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

:root {
    --primary-font: 'Outfit';
    --navbar-height: 100px;
    --navbar-brand-logo-width: 42px;
    --container-width: 95%;
    --navbar-fg-color: #000;
    /* color: hsl(53, 100%, 50%); */
    --navbar-btn-bg-color: hsl(53, 100%, 50%);
    --navbar-btn-fg-color: #24231B;
    --border-radius: 30px;
    --db-card-bg: transparent;
    --fg-color-h: 53;
    --fg-color-s: 14%;
    --fg-color-l: 12%;
    --fg-color: hsl(var(--fg-color-h), var(--fg-color-s), var(--fg-color-l));
    /* --db-card-shadow-opacity: 0; */
    /* --db-cover-height-large: 341px; */
    --db-card-shadow: 0;
    --db-card-gap: 60px;
    --db-card-gap: 40px;
    /* --fg-color-6: hsla(var(--fg-color-h), var(--fg-color-s), var(--fg-color-l), 0.09); */


    --heading1: calc(var(--heading-font-size) * 2.5);
    --heading2: calc(var(--heading-font-size) * 1.5);
    --heading3: calc(var(--heading-font-size) * .834);

    --notion-yellow-h: 53;
    --notion-yellow-s: 100%;
    --notion-yellow-l: 50%;
    --notion-yellow: hsl(var(--notion-yellow-h), var(--notion-yellow-s), var(--notion-yellow-l));
    --notion-yellow_background: hsl(var(--notion-yellow-h), var(--notion-yellow-s), var(--notion-yellow-l));
    --notion-yellow_background_co: hsl(var(--notion-yellow-h), var(--notion-yellow-s), var(--notion-yellow-l));

}

/* common styles */
*:not(nav):not(footer) .notion-title {
    display: none;
}

*:not(nav):not(footer) .notion-page-no-cover {
    margin-top: 0 !important;
}

*:not(nav):not(footer) .notion-text {
    color: var(--fg-color-3) !important;
}

*:not(nav):not(footer) .notion-hash-link {
    display: none;
}

*:not(nav):not(footer) .bullet-2-column .notion-spacer {
    width: calc(min(147px, 10vw));
}


/* navbar style */
*:not(nav):not(footer) .navbar-item {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: .5rem 1.75rem;
}

*:not(nav):not(footer) .navbar-item:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--navbar-btn-bg-color);
    text-underline-offset: 7px;
}

*:not(nav):not(footer) .notion-progress-bar {
    background-color: var(--navbar-btn-bg-color) !important;
}

*:not(nav):not(footer) a.navbar-item:focus-within {
    background-color: unset;
    color: unset;
}

*:not(nav):not(footer) .button strong {
    text-align: justify;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

*:not(nav):not(footer) .nav-cta-btn {
    padding: 21px 30px;
    border: var(--navbar-btn-bg-color);
}

*:not(nav):not(footer) .buttons {
    gap: 30px;
}

/* font-styles */
*:not(nav):not(footer) .notion-h1 {
    font-size: var(--heading1);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
}

*:not(nav):not(footer) .notion-h2 {
    font-size: var(--heading2);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: .5rem;
}

*:not(nav):not(footer) .notion-h3 {
    font-size: var(--heading3);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

*:not(nav):not(footer) .notion-yellow {
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

*:not(nav):not(footer) .bullet-2-column .notion-h3 {
    margin: 0;
    padding: 10px 0px;
}

*:not(nav):not(footer) .bullet-2-column .notion-text {
    width: 100%;
}

/* bullet-btn styles */
*:not(nav):not(footer) .bullet-btn {
    border: unset;
    outline: unset;
    background: var(--navbar-btn-bg-color);
    color: var(--navbar-btn-fg-color);
    padding: 10px 30px;
    border-radius: var(--border-radius);
    opacity: 1;
}

*:not(nav):not(footer) .bullet-btn:hover {
    color: var(--navbar-btn-fg-color);
    opacity: .8;
}

*:not(nav):not(footer) .notion-gray_background .bullet-btn {
    background-color: var(--bg-color);
    color: var(--fg-color-3);
    outline: 2px solid var(--fg-color-2);
}

*:not(nav):not(footer) .notion-gray_background .bullet-btn:hover {
    color: var(--fg-color-2);
    outline: 2px solid var(--fg-color-2);
}

*:not(nav):not(footer) .notion-gray_background .bullet-btn:hover {
    color: var(--fg-color-3);
}

*:not(nav):not(footer) .notion-gray_background {
    background-color: unset;
}

*:not(nav):not(footer) .notion-gray_background .bullet-btn:hover {
    background: unset !important;
}

/* linear border style */
*:not(nav):not(footer) hr {
    height: 4px;
    background: linear-gradient(to right,
            #767470 0%,
            #767470 30%,
            var(--navbar-btn-bg-color) 30%,
            var(--navbar-btn-bg-color) 100%) !important;
}

/* notion-default style */
*:not(nav):not(footer) .notion-default_co {
    border: unset;
    box-shadow: unset;
    gap: 20px;
}

*:not(nav):not(footer) .notion-default_co img {
    border-radius: unset;
}

*:not(nav):not(footer) .notion-yellow_background {
    background-image: linear-gradient(120deg, var(--navbar-btn-bg-color), var(--navbar-btn-bg-color));
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 88%;
    font-weight: inherit;
    background-color: unset;
}

*:not(nav):not(footer) .notion-default_co>.notion-page-icon-inline {
    align-self: center;
    width: 36px;
    height: 60px;
    max-width: 48px;
    max-height: 23px;
}

*:not(nav):not(footer) .notion-default_co .notion-text {
    padding: 2px 0px;
}

/* small gallery view */
*:not(nav):not(footer) .notion-collection-card-size-small {
    margin: 0 auto;
}

*:not(nav):not(footer) .notion-gallery-grid {
    border: unset;
}

*:not(nav):not(footer) .notion-collection-card-size-small:hover {
    background: unset;
}

*:not(nav):not(footer) .notion-collection-card-size-small .notion-page-icon-inline {
    width: 100px !important;
    height: 100px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    padding: 25px;
    border: 2px solid var(--navbar-btn-bg-color);
    border-radius: 100%;
}

*:not(nav):not(footer) .notion-collection-card-size-small img {
    width: 100px !important;
    height: 100px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    border-radius: unset;
}

*:not(nav):not(footer) .notion-collection-card-size-small .notion-page-icon-inline img {
    object-fit: contain;
}

*:not(nav):not(footer) .notion-collection-card-size-small .notion-page-title-text {
    text-align: center;
    color: var(--fg-color-3);
}

*:not(nav):not(footer) .notion-collection-card-size-small .notion-page-title {
    display: grid;
    gap: 20px;
}

*:not(nav):not(footer) .notion-collection-header {
    display: none;
}

/* list collection style */
*:not(nav):not(footer) .notion-list-collection .notion-list-body {
    border: unset;
}

*:not(nav):not(footer) .notion-list-collection .notion-page-icon-inline {
    display: none;
}

*:not(nav):not(footer) .notion-list-collection .notion-list-item {
    padding: 20px 0px;
}

*:not(nav):not(footer) .notion-list-collection .notion-page-title-text {
    color: var(--fg-color-3);
}

*:not(nav):not(footer) .notion-list-collection .notion-page-link:hover {
    background: unset;
}

/* large gallery view */
*:not(nav):not(footer) .notion-gallery-grid {
    border: unset;
}

*:not(nav):not(footer) .notion-gallery-grid-size-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

*:not(nav):not(footer) .notion-gallery-grid-size-large .notion-collection-card {
    border-radius: unset;
}

*:not(nav):not(footer) .notion-gallery-grid-size-large .notion-collection-card-cover {
    border-radius: 20px;
}

*:not(nav):not(footer) .notion-gallery-grid-size-large .notion-collection-card:hover {
    background: unset;
}

*:not(nav):not(footer) .notion-gallery-grid-size-large .notion-collection-card-cover {
    height: 100%;
    width: 100%;
    aspect-ratio: 6/4;
}

*:not(nav):not(footer) .notion-gallery-grid-size-large .notion-page-title-text {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 21.98px;
    padding: 10px 0px 5px;
}

*:not(nav):not(footer) .notion-gallery-grid-size-large .notion-page-icon-inline {
    display: none;
}

*:not(nav):not(footer) .notion-gallery-grid-size-large .notion-property-text {
    white-space: break-spaces;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--fg-color-3);
}

*:not(nav):not(footer) .notion-gallery-grid-size-large .notion-property-date {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--fg-color-3);
}

*:not(nav):not(footer) .notion-gallery-grid-size-large .notion-property-multi_select-item {
    padding: 17px 20px;
    margin: 10px 0px;
}

*:not(nav):not(footer) .prop-percentage {
    position: relative;
    padding-right: 20px;
}

*:not(nav):not(footer) .prop-percentage::after {
    position: absolute;
    right: 0px;
    top: 0;
}

/* Media queries */
@media (max-width:1024px) {
    :root {
        --container-width: 100%;
    }

    *:not(nav):not(footer) .bullet-2-column .notion-spacer {
        width: calc(min(32px, 4vw));
    }
}

@media (max-width:600px) {
    *:not(nav):not(footer) .notion-gallery-grid-size-large {
        gap: 20px;
        grid-template-columns: 1fr;
    }

    *:not(nav):not(footer) .notion-blank {
        display: none;
    }
}