/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

:root {
    --primary-font: 'Outfit';
    --navbar-height: 100px;
    --navbar-brand-logo-width: 42px;
    --container-width: 95%;
    --navbar-fg-color: #000;
    --navbar-btn-bg-color: hsl(53, 100%, 50%);
    --navbar-btn-fg-color: #24231B;
    --border-radius: 30px;
    --db-card-bg: transparent;
    --fg-color-h: 53;
    --fg-color-s: 14%;
    --fg-color-l: 12%;
    --fg-color: hsl(var(--fg-color-h), var(--fg-color-s), var(--fg-color-l));
    --heading1: calc(var(--heading-font-size) * 2.5);
    --heading2: calc(var(--heading-font-size) * 1.5);
    --heading3: calc(var(--heading-font-size) * .834);
    --notion-yellow-h: 53;
    --notion-yellow-s: 100%;
    --notion-yellow-l: 50%;
    --notion-yellow: hsl(var(--notion-yellow-h), var(--notion-yellow-s), var(--notion-yellow-l));
    --notion-yellow_background: hsl(var(--notion-yellow-h), var(--notion-yellow-s), var(--notion-yellow-l));
    --notion-yellow_background_co: hsl(var(--notion-yellow-h), var(--notion-yellow-s), var(--notion-yellow-l));
}

html:not(nav):not(footer){
    --primary-font: 'Outfit';
    --navbar-height: 100px;
    --navbar-brand-logo-width: 42px;
    --container-width: 95%;
    --navbar-fg-color: #000;
    --navbar-btn-bg-color: hsl(53, 100%, 50%);
    --navbar-btn-fg-color: #24231B;
    --border-radius: 30px;
    --db-card-bg: transparent;
    --fg-color-h: 53;
    --fg-color-s: 14%;
    --fg-color-l: 12%;
    --fg-color: hsl(var(--fg-color-h), var(--fg-color-s), var(--fg-color-l));
    --heading1: calc(var(--heading-font-size) * 2.5);
    --heading2: calc(var(--heading-font-size) * 1.5);
    --heading3: calc(var(--heading-font-size) * .834);
    --notion-yellow-h: 53;
    --notion-yellow-s: 100%;
    --notion-yellow-l: 50%;
    --notion-yellow: hsl(var(--notion-yellow-h), var(--notion-yellow-s), var(--notion-yellow-l));
    --notion-yellow_background: hsl(var(--notion-yellow-h), var(--notion-yellow-s), var(--notion-yellow-l));
    --notion-yellow_background_co: hsl(var(--notion-yellow-h), var(--notion-yellow-s), var(--notion-yellow-l));
}
/* common styles */
.notion-title:not(nav):not(footer) {
    display: none;
}

.notion-page-no-cover:not(nav):not(footer) {
    margin-top: 0 !important;
}

.notion-text:not(nav):not(footer) {
    color: var(--fg-color-3) !important;
}

.notion-hash-link:not(nav):not(footer) {
    display: none;
}

.bullet-2-column .notion-spacer:not(nav):not(footer) {
    width: calc(min(147px, 10vw));
}

/* navbar style */
.navbar-item:not(nav):not(footer) {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: .5rem 1.75rem;
}

.navbar-item:hover:not(nav):not(footer) {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--navbar-btn-bg-color);
    text-underline-offset: 7px;
}

.notion-progress-bar:not(nav):not(footer) {
    background-color: var(--navbar-btn-bg-color) !important;
}

a.navbar-item:focus-within:not(nav):not(footer) {
    background-color: unset;
    color: unset;
}

.button strong:not(nav):not(footer) {
    text-align: justify;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.nav-cta-btn:not(nav):not(footer) {
    padding: 21px 30px;
    border: var(--navbar-btn-bg-color);
}

.buttons:not(nav):not(footer) {
    gap: 30px;
}

/* font-styles */
.notion-h1:not(nav):not(footer) {
    font-size: var(--heading1);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
}

.notion-h2:not(nav):not(footer) {
    font-size: var(--heading2);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: .5rem;
}

.notion-h3:not(nav):not(footer) {
    font-size: var(--heading3);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.notion-yellow:not(nav):not(footer) {
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.bullet-2-column .notion-h3:not(nav):not(footer) {
    margin: 0;
    padding: 10px 0px;
}

.bullet-2-column .notion-text:not(nav):not(footer) {
    width: 100%;
}

/* bullet-btn styles */
.bullet-btn:not(nav):not(footer) {
    border: unset;
    outline: unset;
    background: var(--navbar-btn-bg-color);
    color: var(--navbar-btn-fg-color);
    padding: 10px 30px;
    border-radius: var(--border-radius);
    opacity: 1;
}

.bullet-btn:hover:not(nav):not(footer) {
    color: var(--navbar-btn-fg-color);
    opacity: .8;
}

.notion-gray_background .bullet-btn:not(nav):not(footer) {
    background-color: var(--bg-color);
    color: var(--fg-color-3);
    outline: 2px solid var(--fg-color-2);
}

.notion-gray_background .bullet-btn:hover:not(nav):not(footer) {
    color: var(--fg-color-2);
    outline: 2px solid var(--fg-color-2);
}

.notion-gray_background:not(nav):not(footer) {
    background-color: unset;
}

/* linear border style */
hr:not(nav):not(footer) {
    height: 4px;
    background: linear-gradient(to right, #767470 0%, #767470 30%, var(--navbar-btn-bg-color) 30%, var(--navbar-btn-bg-color) 100%) !important;
}

/* notion-default style */
.notion-default_co:not(nav):not(footer) {
    border: unset;
    box-shadow: unset;
    gap: 20px;
}

.notion-default_co img:not(nav):not(footer) {
    border-radius: unset;
}

.notion-default_co>.notion-page-icon-inline:not(nav):not(footer) {
    align-self: center;
    width: 36px;
    height: 60px;
    max-width: 48px;
    max-height: 23px;
}

/* small gallery view */
.notion-collection-card-size-small:not(nav):not(footer) {
    margin: 0 auto;
}

.notion-gallery-grid:not(nav):not(footer) {
    border: unset;
}

/* large gallery view */
.notion-gallery-grid-size-large:not(nav):not(footer) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.notion-gallery-grid-size-large .notion-collection-card:not(nav):not(footer) {
    border-radius: unset;
}

.notion-gallery-grid-size-large .notion-collection-card-cover:not(nav):not(footer) {
    border-radius: 20px;
}

.notion-gallery-grid-size-large .notion-page-title-text:not(nav):not(footer) {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 21.98px;
    padding: 10px 0px 5px;
}

.notion-gallery-grid-size-large .notion-page-icon-inline:not(nav):not(footer) {
    display: none;
}

.notion-gallery-grid-size-large .notion-property-text:not(nav):not(footer) {
    white-space: break-spaces;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--fg-color-3);
}

.notion-gallery-grid-size-large .notion-property-date:not(nav):not(footer) {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--fg-color-3);
}

@media (max-width:1024px) {
    :root {
        --container-width: 100%;
    }

    .bullet-2-column .notion-spacer:not(nav):not(footer) {
        width: calc(min(32px, 4vw));
    }
}

@media (max-width:600px) {
    .notion-gallery-grid-size-large:not(nav):not(footer) {
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .notion-blank:not(nav):not(footer) {
        display: none;
    }
}
